<div fxLayout="column" class="mainContainer">
  <div fxLayout="row">
    <h2 id="movieName">Search for a movie {{ searchingMovie }}</h2>
  </div>

  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        autocomplete="off"
        placeholder="Search for your favourite movie"
        [(ngModel)]="searchingMovie"
        (keyup)="searchMovie($event)"
      />
    </mat-form-field>
  </div>

  <div
    *ngIf="searchingMovie == ''"
    fxLayout="row"
    fxLayoutAlign="center center"
    style="height: 300px"
  >
    <h2>Welcome to Moviepedia</h2>
  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap.gt.sm="15px"
    fxLayoutGap="20px"
    *ngIf="keyPressed && searchingMovie != ''"
  >
    <div style="display: flex; flex-wrap: wrap">
      <div class="movieBox" *ngFor="let show of showMovies">
        <div class="movieImg">
          <img
            src="{{ show.Poster }}"
            title="{{ show.Title }} Poster"
            alt="{{ show.Title }} Poster"
          />
        </div>
        <div class="movieText">
          <h3>{{ show.Title }}</h3>
          <p>
            Released -
            <span> {{ show.Year }}</span>
          </p>
          <p>
            Type -
            <span> {{ show.Type }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
